.equal{
	display: table-row;
	table-layout: fixed;
}

.row.equal > div {
	background-color: #ddd;
}

@media (min-width: 768px){
	.row.equal > div {
		display: table-cell;
		float: none;
		}
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%; 
	margin-bottom: 50%;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	top: 50%;
} 





