.equal{
	display: table-row;
	table-layout: fixed;
}

.row.equal > div {
	background-color: #ddd;
}

@media (min-width: 800px){
	.row.equal > div {
		display: table-cell;
		float: none;
		}
}

@media (min-width:400px){
	body {
		background-color: lightgreen;
	}
}

@media (min-width: 800px){
	body {
		background-color:lavender;
	}
}

@media screen and (min-width: 1000px){
	img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50%; 
		margin-bottom: 50%;
	}
}

@media screen and (min-width: 5px){
	img.center {
	}
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	top: 50%;
}
