{% extends "personal/header.html" %}
{% block content %}

{% if entry_list %}

	<div class="container">
		<p> Hey! Welcome to the website. </p>
		{% for entry in entry_list %}
			<p> {{ entry.title }} </p>

			<p> {{ entry.body|safe }} </p>

		{% endfor %}

	</div>
{% else %}
	<p> Wow, such empty. </p>
{% endif %}
<!--
<p> Hey! Welcome to the website. </p>

<p> I am from california and went to school in SDSU   </p>

<p> If you would just like to download my resume, please use the link here. </p>

<p> Othwerwise, please feel free to browse the site, <p>

<h3> SKILLS: </h3>
<h4> Programming Languages: </h4>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<p> Java </p>
		</div>
		<div class="col-sm-10">
			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
		    	<span class="sr-only">70% Complete</span>
	  		</div>
		</div>
	</div>
<h4> Frameworks </h4>

<h4> Tools: </h4>
<p> Wow, such empty! </p>
-->
{% endblock %}
