{% extends "personal/header.html" %}
{% load static %}
{% load staticfiles %}


{% block content %}
{%if entry_list %}
    <h4> {{entry_list.0.category}} </h4>
    <br>
<!-- <body class="body"> -->
<!--	<div class="container-fluid" >
        <div class="row equal">
            <div class="column">
		    {% for entry in entry_list %}
			 	{% if entry.entry_image %}
		 			<img class="" src="{{ entry.entry_image.url  }}" style='max-height:250px; max-width:250px;' align="middle"></img>
				 {% endif %}
			 	<p> {{ entry.title }} </p>
			</div>
    		{% endfor %}
		</div>
	</div> -->
<!-- </body> -->

<!-- <div class="container">
<div class="row" style="display:flex;flex-wrap: wrap;'">
	{% for entry in entry_list %}
	<div class="col-md-4" style="float:left; width:250px; height:250px; flex: 50%;">		
		<img src="{{ entry.entry_image.url }}" class="img-thumbnail" alt="">
		<br>
		<p> {{entry.title }} </p>
	</div>
	{% endfor %}
</div>
</div> -->

<div class="row">
	{% for entry in entry_list %}
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail">
				<a target="_blank" href="{{ entry.entry_image }}">
					<img src="{{ entry.entry_image.url }}" alt="{{ entry.title }}" style="max-width:100%; height:auto">
	                <div class="caption">
						<h5> {{ entry.title }} </h5>
    	                <p> {{ entry.body }} </p>
        	        </div>
                </a>
			</div>
		</div>
	{% endfor %}
</div> 
<br>

<br>

{% else %}
    <p> No entries.</p>
{% endif %}

{% endblock %}
