{% extends "personal/header.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
{%if entry_list %}
	<h4> {{entry_list.0.category}} </h4>
	<br>
	{% for entry in entry_list %}
		<ul>
			<body class="body">
				<div class="container-fluid" >
					<div class = "row equal">
						<div class="col-sm-2">
<!--							<center> -->
						        {% if entry.entry_image %}
									<span class="helper"></span><img class="center" src="{{ entry.entry_image.url  }}" style='max-height:150px; max-width:150px;' align="middle" ></img>
						        {% endif %}
<!--							</center> -->
						</div>
						<div class="col-sm-8">
							<p><h5><b> {{ entry.title }} --- {{ entry.start_date|date:"F Y" }} - {{ entry.end_date|date:"F Y"  }} </b></h5></p>
							<p> {{ entry.position }} </p>
							<p><i> {{ entry.location}} </i></p>
							<p> {{ entry.body | linebreaks }}</p>
						</div>
					</div>
				</div>
			</body>
		</ul>
	{% endfor %}
{% else %}
	<p> No entries.</p>
{% endif %}

{% endblock %}
