{% extends "personal/header.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
{%if entry_list %}
	<h4> {{entry_list.0.category}} </h4>
	<br>
	
	<div class="container">
		{% for entry in entry_list %}
				<div class = "row flex">
				<div class="col-sm-12 col-md-2 image">	
						{% if entry.entry_image %}
							<img class = "thumbnail center" src="{{ entry.entry_image.url }}" align="middle"></img>
						{% endif %}
				</div>
				<div class="col-sm-12 col-md-8">
					<p><h5><b> {{ entry.title }} --- {{ entry.start_date|date:"F Y" }} - {{ entry.end_date|date:"F Y"  }} </b></h5></p>
					<p> {{ entry.position }} </p>
					<p><i> {{ entry.location}} </i></p>
					<p> {{ entry.body | linebreaks }}</p>
				</div>
			</div>
			<br>
			<br>
		{% endfor %}
	</div>
{% else %}
	<p> No entries.</p>
{% endif %}

{% endblock %}
